.logo{
    width: 50px;
    float: left;
    position: relative;
    margin: 8px 15px 15px;
}

header{
    background-color:  #009999;
    margin: auto -16px;
    height: 100px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(255, 149, 0, 0.3);
  }

  .test{
    font-size:30px;
    float: right;
    margin: 8px;

  }

  header input{
    color: #fff;
    font-family: "McLaren", cursive;
  }
  header h1{
    color: #fff;
    font-family: "McLaren", cursive;
    position: fixed;
  }

  footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  footer p{
    color: #0d0d0d;
  }


  input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
  }
  .App{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: #f2f2f2;
  }
  .form{
    display: block;
    position: relative;
  }
  .form:after{
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);

  }
